body{
    background-color: #9FC9F3;
}
.refresh{
    font-size: 8rem;
    text-align: center;
    color: #25316D;
    text-shadow:5px 2px #D800A6;
}
.footer{
    text-align: center;
}
.dice {
    text-align: center;
    display: inline-block;
    font-family: 'Nabla', cursive;
    font-size: 50px;
}
.container{
    text-align: center;
}
footer{
    margin-top: 5%;
    color: #10006c;
}
h1{
    font-family: 'Bungee Spice', cursive;
}
